/*GENERAL*/

@font-face {
			font-family: Apercu;
    		src: url(../fonts/apercu_bold_pro.otf);
		}

@font-face {
		font-family: HelveticaExtended;
    	src: url(../fonts/HelveticaNeue-HeavyExt.ttf);
		}

@font-face {
	font-family: GTSectraFine;
    src: url(../fonts/GT-Sectra-Fine-Regular.otf);
	}		

body{
	background-color: #F2F2F2;

	}

h1{
	font-family: GTSectraFine, serif;
	font-weight: normal;
	font-size: 30pt;
	top:0;
	left: 2%;
	position: fixed;
	cursor: pointer;
	z-index: 1;
}


h1:hover + img{
	display: block;
	cursor: pointer;
}

h2{
	font-family: "GTSectraFine", serif;
	font-size: 30pt;
	bottom: 0px;
	right:	2%;
	position: fixed;
	font-weight: normal;
	color: blue;
	z-index: 1;
}

/*PROJECTS*/

.projects{
	position: relative;
	height: 100%;
	width: 100%;
	margin: 0 auto;
	padding: 20px;
	resize: both;
	overflow: auto;
	z-index: 0;
}

#list{
	color: white;
	width: 500px;
	height: 200px;
	margin: -70px 0 0 -240px;
	position: absolute;
	top: 45%;
	left: 45%;
	padding: 20px;
	z-index: 2;
}
#project-list{
	width: 500px;
	font-size: 15pt;
	color: black;
	font-family: "HelveticaExtended", serif;
	cursor: progress;
}

#project-list-pending{
	background-color: red;
	font-size: 15pt;
	width: 100%;
	color: #E0E0E0;
	font-family: "HelveticaExtended", serif;
	cursor: not-allowed;
}

#project-list:hover, #project-list-pending:hover {
	color: #F2F2F2;
}

span.alignleft {
	float: left;
}
span.alignright {
	float: right;
}

a {
	text-decoration: none;
}

a:visited{
	color: blue;
}

a:hover{
	color: #F2F2F2;
}

p {
	margin: 0;
	display: block;
}


img {
	display: none;
	position:absolute;	
	top: 8%;	
   	left:2%;
	width: 18%;
	z-index: -1;
}

