@font-face {
	font-family: Caslon;
	src: url(../fonts/ACaslonPro-Regular.otf);
	}

@font-face {
	font-family: Circular;
	src: url(../fonts/CircularStd-Medium.otf);
	}


body {
	font-family: Caslon;
	background-color: black;
}

.parent {
	background-color: black;
  	position: relative;

}

.child {
	position:absolute;
	top: 50%;
	left: 50%;
	width:750px;
	height:500px;
	padding: 20pt;
	margin-top: 4.5%;
	margin-left: -400px; /*set to a negative number 1/2 of your width*/
	background-color: white;
	color: black;
	overflow: scroll;
	overflow-wrap: break-word;
}

.tweet{
	font-size: 35pt;
	line-height: 45pt;
	padding-bottom: 30pt;
}

a{
	font-family: Circular;
	vertical-align: super;
	font-size: 20pt;
	cursor: pointer;
	text-decoration: none;
	color: black
}
.definition-container{
	position: fixed;
	right: 0;
	width: 14%;
	margin-top: 4.5%;
	margin-right: 2.5%;
	color: white;
	font-family: Circular;
	font-size: 12pt;

}

.definition1{
}
